<div class="row translucent-form-overlay text-center small-12 medium-6">
<div class="field medium-8">
  <strong>
    <h1>Welcome to Boollion!</h1>
  </strong>
  <h2>Please Log In</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <button type="submit" class="button-med button-font-lrg button">Log in</button>
  </div>
<% end %>
<div class="field text-center small-5">
  <%= render "devise/shared/links" %>
</div>
</div>
